<div class="page_content">
<p class="heading"><u>Showing Invoice</u></p>
<p>
<table>
<tr align="left">
<th>InvoiceNo.</th>
<th>Name</th>
<th>Total Amount</th>
</tr>
<tr>
<td><%=@invoice.number %></td>
<td><%=@invoice.name %></td>
<td><%= @invoice.amount%></td>
</tr>
</table>
</p>

<p>
<table>
<tr>
<th>Slno</th>
<th>Unit</th>
<th>Description</th>
<th>Amount</th>
</tr>
<%@invoice.line_items.each do |line|%>
<tr>
<td><%=line.serial_number%></td>
<td><%=line.unit%></td>
<td><%=line.description%></td>
<td><%=line.amount%></td>
</tr>
<%end%>
</table>
</p>
<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
</div>